.top-nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: none;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
}

.top-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.nav-acessibilidade{
    justify-content: space-between;
    row-gap: 8px;
    column-gap: clamp(.8rem, 2.4vw, 1.5rem);
}
.nav-item .border-padrao{
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
#menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color:#0277bd;
    padding: 15px;
    list-style: none;
    border-radius: 10px; 
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 10;
    width: 77px;
    height: 19px;
    flex-grow: 0;
    font-family: Inter;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.body{
    background: #fafafa;
}
.acessbilidade{
    padding: 15px;
}
p{
    margin: 0 !important;
}

.pacess{

    font-size: 12px;
    font-weight: 600;
      font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.border-padrao{
    border:1px solid #eeeeee;
    border-radius: 12px;
    width: 166px;
    height: 38px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.bglogo{
    background-color: #01579b;
    border-radius: 12px 12px 0 0;
    width: 1890px;
    height: 126px;
    flex-grow: 0;
}

.containerlogo{
height: 100%;
}
.col-logocliente{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
}
.logocliente{
    border-radius: 24px;
    width: 258.7px;
  height: 94px;
  flex-grow: 0;
}
figure {
    display: block;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 40px !important;
    margin-inline-end: 40px !important;
    unicode-bidi: isolate !important;
}

.boxouv{
display: flex;
justify-content: center;
text-align: center;
height: 100%;
}
.boxou{
align-content: center;
}
.rectangle-45 {
  width: 166px;
  height: 94px;
  padding: 22px 20px 22px 21px;
  border-radius: 24px;
  background-color: #eceff1;
}
.rectangle-46 {
  width: 166px;
  height: 94px;
  padding:13px 28px 13px 29px;
  border-radius: 24px;
  background-color: #eceff1;
}
.rectangle-47{
width: 166px;
  height: 94px;
  flex-grow: 0;
  margin: 0 0 0 30px;
  padding: 13px 15px 13px 16px;
  border-radius: 24px;
  background-color: #eceff1;
}

.imgouv{
      width: 28px;
  height: 28px;
  flex-grow: 0;
  object-fit: contain;
  padding-bottom: 5px;
}
.imgouv1{
    width: 28px;
  height: 28px;
  flex-grow: 0;
  object-fit: contain;
  margin-bottom: 3px;

}
.pouv{
  flex-grow: 0;
  margin: 4px 0 0;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
}
.pouv1{
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -0.32px;
  text-align: center;
  color: #000;
}

.menuinc{
  height: 47px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  padding: 0 371px;
  background-color: #0277bd;
}
.dropdown-toggle{
color:white !important;
  font-size: 16px;
  font-weight: 600 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.navbar-collapse{
    display: flex;
    justify-content: space-between;
}


.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 100%;
    margin: auto;
    position: relative;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}

.botao-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-basis: 100%; 
}

.container3 {
    width: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 100px;
    margin: auto;
}
.galeria {
    background-color: #01579b;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.foto {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.foto img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.data {
    font-weight: bold;
    color: #fff;
}

.descricao {
    color: #fff;
}

.botao {
    background-color: #ffb300;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 20px;
    align-self: center; 
}
.galeria button {
    display: block;
    margin: 20px auto; 
}

.Veja-mais-galerias {
  width: 142px;
  height: 20px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #331600;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #01579b;
    border-radius: 15px;
}

.image-menu{
    position: absolute;
    display: flex;
    justify-content: center; 
    gap: 10px; 
    width: 50px;
    height: 50px;
    right: 100;
    flex-grow: 0;
    margin: 0 30px;
    padding: 13px 28px 13px 29px;
    border-radius: 24px;
    background-color: #eceff1
}

.eventos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    max-width: 80%;
    margin: auto;
}

.foto-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; 
    gap: 20px; 
    width: 100%;
}

.foto2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 250px; 
    flex: 1; 
    min-width: 230px;
}

.foto2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.galeria-container {
    display: flex;
    justify-content: center;
    gap: 40px; 
    width: 100%;
}

.galeria-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.galeria-item h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.galeria-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.botao {
    background-color: #ffd54f;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 10px;
}

.galeria-item h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: Inter;
    text-transform: uppercase; 
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #01579b; 
    text-shadow: 3px 3px 10px;
}

.secao-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.imagem-fundo {
    width: 100%;
    height: auto;
    display: block;
}

.overlay2 {
    position: absolute;
    top: 0;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    width: 40%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 10px 10px; 
}

.overlay2 h2 {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.overlay2 p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.botoes-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.botao {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
}

.amarelo {
    background-color: #ffb300;
    color: #fff;
}

.azul {
    background-color: #01579b;
    color: #fff;
}

.eventos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
    margin-bottom: 50px;
}

.evento {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 260px;
    text-align: center;
}

.evento h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #01579b;
}

.evento p {
    font-size: 16px;
    color: #555;
}
/**/

.info-top-container {
    background-color: #0277bd; 
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
}

.info-item {
    color: #fff;
    text-align: center;
    width: 32%;
}


.info-sections {
    background-color: #01579b; 
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.imprensa {
    grid-column: 1;
    grid-row: 1;
}

.contato {
    grid-column: 1;
    grid-row: 2;
}

.prefeitura {
    grid-column: 2;
    grid-row: 1;
}

.municipio {
    grid-column: 3;
    grid-row: 1;
}

.secretarias {
    grid-column: 4;
    grid-row: 1;
}


.info-block h3 {
    font-size: 18px;
    font-weight: bold;
    color: #fff; 
    margin-bottom: 8px;
}


.info-block ul {
    list-style-type: none;
    padding: 0;
}

.info-block li {
    font-size: 16px;
    color: #fff;
    margin-bottom: 4px;
}

.map-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 0 0 10px 10px; 
    margin-top: -2px; 
}

.footer-container {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.footer-content span {
    font-size: 14px;
    color: #333;
}

.footer-content img {
    height: 40px; 
}










