.top-nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: none;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
}

.top-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.nav-acessibilidade {
    justify-content: space-between;
    row-gap: 8px;
    column-gap: clamp(.8rem, 2.4vw, 1.5rem);
}

.nav-item .border-padrao {
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #0277bd;
    padding: 15px;
    list-style: none;
    border-radius: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 10;
    width: 77px;
    height: 19px;
    flex-grow: 0;
    font-family: Inter;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

body {
    background: #fafafa;
}

.rowcale {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.acessbilidade {
    padding: 15px;
}

p {
    margin: 0 !important;
}

.pacess {

    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.border-padrao {
    border: 1px solid #eeeeee;
    border-radius: 12px;
    width: 166px;
    height: 38px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.bglogo {
    background-color: #01579b;
    border-radius: 12px 12px 0 0;
    width: 1890px;
    height: 126px;
    flex-grow: 0;
}

.containerlogo {
    height: 100%;
}

.col-logocliente {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
}

.logocliente {
    border-radius: 24px;
    width: 258.7px;
    height: 94px;
    flex-grow: 0;
}

figure {
    display: block;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 40px !important;
    margin-inline-end: 40px !important;
    unicode-bidi: isolate !important;
}

.boxouv {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.boxou {
    align-content: center;
}

.rectangle-45 {
    width: 166px;
    height: 94px;
    padding: 22px 20px 22px 21px;
    border-radius: 24px;
    background-color: #eceff1;
}

.rectangle-46 {
    width: 166px;
    height: 94px;
    padding: 13px 28px 13px 29px;
    border-radius: 24px;
    background-color: #eceff1;
}

.rectangle-47 {
    width: 166px;
    height: 94px;
    flex-grow: 0;
    margin: 0 0 0 30px;
    padding: 13px 15px 13px 16px;
    border-radius: 24px;
    background-color: #eceff1;
}

.imgouv {
    width: 28px;
    height: 28px;
    flex-grow: 0;
    object-fit: contain;
    padding-bottom: 5px;
}

.imgouv1 {
    width: 28px;
    height: 28px;
    flex-grow: 0;
    object-fit: contain;
    margin-bottom: 3px;

}

.pouv {
    flex-grow: 0;
    margin: 4px 0 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
}

.pouv1 {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: -0.32px;
    text-align: center;
    color: #000;
}

.menuinc {
    height: 47px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    padding: 0 371px;
    background-color: #0277bd;
}

.dropdown-toggle {
    color: white !important;
    font-size: 16px;
    font-weight: 600 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ctnser {
    background-color: #01579b;
    min-height: 120px;
    flex-grow: 0;
    border-radius: 0 0 12px 12px;

}

.ctnservicos {
    display: flex;
    justify-content: center;
}

.slick-slide {
    text-decoration: none !important;
}

.rectangle-ser {
    width: 166px;
    height: 86px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 24px;
}

.servicos {
    width: 1150px;
    display: flex !important;
    padding-top: 18px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.pser {
    flex-grow: 0;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #001c33;
}

.arrow-prev,
.arrow-next {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow-prev {
    left: -50px;
    /* ajuste como quiser */
    margin-right: 15px;
}

.arrow-next {
    right: -30px;
    /* ajuste como quiser */
}


/* -------------------------------------------------------------------------------------  */

.noticia-titulo {
    flex-grow: 0;
    margin: 0 324px 29px 39px;
    padding: 22px 4px 1px 0px;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
    text-shadow: 1px 7px 14px rgba(1, 87, 155, 0.7);
}

.noticia-titulo1 {
    flex-grow: 0;
    margin: 0 324px 29px 39px;
    padding: 22px 4px 1px 0px;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
    text-shadow: 1px 7px 14px rgba(1, 87, 155, 0.7);
}

.txtmeiosite {
    flex-grow: 0;
    margin: 24px 30px 0;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;

}

/* -------------------------------------------------------------------------------------  */

.colconteudo {
    display: flex;
    margin-bottom: 32px;
}

.custom-card {
    width: 558px;
    min-height: 410px;
    border-radius: 16px !important;
    overflow: hidden;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.botao1 {
    width: 222px;
    height: 48px;
    flex-grow: 0;
    display: flex;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 170px 0 166px;
    padding: 14px 45px;
    border-radius: 16px;
    background-color: #ffd54f;
}

.botao1 p {
    flex-grow: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #331600 !important;
}

.card-img-container {
    position: relative;
}

.date-badge {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #51C4F0;
    color: black;
    border-radius: 12px;
    padding: 5px 12px;
    font-size: 0.85rem;
    font-weight: 500;
}

.card-img-top {
    height: auto;
    object-fit: cover;
    width: 100%;
}

.boxconteudo {
    display: flex;
    justify-content: center;
}

.card-body {
    padding: 1rem;
}

.card-text {
    width: 498px;
    height: 48px;
    flex-grow: 0;
    margin: 16px 30px 0;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
}

.colconteudo2 {
    width: 1176px;
    height: 278px;
    margin: 32px 24px;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}

.botao-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-basis: 100%;
}

.container3 {
    width: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 100px;
    margin: auto;
}

.galeria {
    background-color: #01579b;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.foto {
    display: inline-block;
    margin: 10px;
    text-align: center;
}


.foto img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.data {
    font-weight: bold;
    color: #fff;
}

.descricao {
    color: #fff;
}

.banner {
    margin-bottom: 32px;
}

.bannerimg {
    display: flex;
    column-gap: 30px;
    justify-content: center;

}

.meiosite {
    display: flex;

}

.custom-card {
    border-radius: 15px;
    overflow: hidden;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-img-container {
    position: relative;
}

.badge-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FFD43B;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-overlay::before {
    content: "";
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent white;
}

.bottom-number {
    background-color: #FFD43B;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    margin-right: 6px;
}

.card-body {
    padding: 1rem 1rem 1.2rem 1rem;
}

/* -------------------------------------- */
.boxmeiosite {
    display: flex;
    justify-content: center;
}

.botaonoticia {
    background-color: #ffb300;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    margin-bottom: 32px;
    align-self: center;
    /* flex-grow: 0;
    padding: 14px 40px 14px 44px;
    border-radius: 16px;
    background-color: #ffb300; */
}

/* botão */
.botaogaleria {
    background-color: #ffb300;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 20px;
    align-self: center;
    /* flex-grow: 0;
    padding: 14px 40px 14px 44px;
    border-radius: 16px;
    background-color: #ffb300; */
}

/* botão */

.galeria button {
    display: block;
    margin: 20px auto;
}

.Veja-mais-galerias {
    width: 142px;
    height: 20px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #331600;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #01579b;
    border-radius: 15px;
}

.image-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 50px;
    height: 50px;
    right: 100;
    flex-grow: 0;
    margin: 0 30px;
    padding: 13px 28px 13px 29px;
    border-radius: 24px;
    background-color: #eceff1
}

/* ------------------------------------------ */
/* eventos */
.calendarioeven {
    margin-left: 0;
    margin-right: 0;
}

.coleven {
    display: flex;
    gap: 30px !important;
    margin-bottom: 32px;
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.evenimg {
    height: 50px !important;
    width: 50px !important;
}

.data-evento {
    font-size: 32px;
    font-weight: 700;
    color: #0056b3;
}

.hora-evento {
    color: #007bff;
    font-size: 16px;
    margin-bottom: 15px;
}

.imagem-evento img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.titulo-evento {
    flex-grow: 0;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
}

.endereco-evento {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.evento-container {
    max-width: 400px;
    margin: auto;
}

/* .containerevento{
    display: flex;
} */

.even-text {
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
}

.even-rest {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #01579b;
}

.card-title {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
}

.boxeven {}


/* ---------------------------------------- */
/* .eventos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    max-width: 80%;
    margin: auto;
} */

.foto-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
}

.foto2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    flex: 1;
    min-width: 230px;
}

.foto2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.galeria-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.galeria-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.galeria-item h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.galeria-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.botao {
    background-color: #ffd54f;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 10px;
}

.galeria-item h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: Inter;
    text-transform: uppercase;
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #01579b;
    text-shadow: 3px 3px 10px;
}

.secao-container {
    position: relative;
    text-align: center;
    margin-top: 32px;
}

.secao-container1 {
    display: flex;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
}

.p1 {
    margin-top: 14px !important;
    font-size: 42px !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000 !important;
}

.p2 {
    font-size: 42px !important;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000 !important;

}

.secao-container1 .txtcidade {
    margin-bottom: 39px !important;
    margin-top: 39px !important;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
}

.imagem-fundo {
    width: 100%;
    display: block;
    height: 500px;
}

.overlay2 {
    width: 730px !important;
    height: 386px;
    position: absolute;
    top: 0;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    width: 40%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: start;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    border-radius: 0px 0px 16px 16px;
}

.overlay2 h2 {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.overlay2 p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.botoes-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.botao {
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
}

.btn2 {
    width: 222px !important;
    height: 48px !important;
}

.amarelo {
    color: black;
    width: 241px;
    height: 48px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px 49px;
    border-radius: 16px;
    background-color: #ffd54f;
}

.azul {
    width: 262px;
    height: 48px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px 49px;
    opacity: 0.6;
    border-radius: 16px;
    background-color: #039be5;

}

.boxinfo h4 {
    flex-grow: 0;
    margin: 0 81px 14px 0;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

.boxinfo p {
    flex-grow: 0;
    margin: 14px 0 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

.eventos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
    margin-bottom: 50px;
}

.evento {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 260px;
    text-align: center;
}

.evento h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #01579b;
}

.evento p {
    font-size: 16px;
    color: #555;
}

/**/

.info-top-container {
    background-color: #0277bd;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
}

.info-container-final {
    background-color: #01579b
}

.lista-final {
    text-decoration: none;
    width: 264px;
    height: auto;
    flex-grow: 0;
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #e1f5fe;
}

.info-item {
    color: #fff;
    text-align: center;
    width: 32%;
}


.info-sections {
    background-color: #01579b;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.imprensa {
    grid-column: 1;
    grid-row: 1;
}

.contato {
    grid-column: 1;
    grid-row: 2;
}

.prefeitura {
    grid-column: 2;
    grid-row: 1;
}

.municipio {
    grid-column: 3;
    grid-row: 1;
}

.secretarias {
    grid-column: 4;
    grid-row: 1;
}


.info-block h3 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 8px;
}


.info-block ul {
    list-style-type: none;
    padding: 0;
}

.info-block li {
    font-size: 16px;
    color: #fff;
    margin-bottom: 4px;
}

.map-container {
    background-color: #ffffff;
}

.footer-container {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.footer-content span {
    font-size: 14px;
    color: #333;
}

.footer-content img {
    height: 40px;
}